.aiu-align {
  &--center {
    align-items: center;
    justify-content: center;
  }

  &--vert-middle {
    vertical-align: middle;
  }

  &-text {
    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }
}