.aiu-display {
  &--grid {
    display: grid;
  }

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }

  &--none {
    display: none;
  }
}

.aiu-position {
  &--fixed {
    position: fixed;
  }

  &--sticky {
    position: sticky;
  }
}