<main class="ait-full-page">
  <article class="aiu-display--grid ait-full-page__section aiu-color-background--blue2">
    <div class="ait-full-page__content ait-full-page__content--generic">
      <h1>This is a title</h1>
      <div>This is just copy</div>
    </div>
  </article>
  <article class="aiu-display--grid ait-full-page__section">
    <div class="ait-full-page__content ait-full-page__content--projects">
      <div class="ait-full-page__project">
        
      </div>
    </div>
  </article>
  <article class="aiu-display--grid ait-full-page__section  aiu-color-background--blue1">
    <div class="ait-full-page__content ait-full-page__content--generic">
      <h1>This is a title</h1>
      <div>This is just copy</div>
    </div>
  </article>
</main>