<main style="margin: 32px">
  <section class="aic-m-input-field">
    <label class="aic-m-input-field--bordered aic-m-input-field__input-container">
      <span class="aic-m-input-field__label">THis is an Input</span>
      <input type="text"  class="aic-m-input-field__input" />
    </label>
  </section>
</main>
  <main style="margin: 32px">
  <section class="aic-m-input-field aic-m-input-field--error">
    <label class="aic-m-input-field--bordered aic-m-input-field__input-container">
      <span class="aic-m-input-field__label">THis is an Input</span>
      <input type="text"  class="aic-m-input-field__input" />
    </label>
  </section>
</main>
<main style="margin: 32px">
  <div class="aic-m-input-field aic-m-input-field--textarea">
    <label class="aic-m-input-field__textarea-container aic-m-input-field--bordered">
      <span class="aic-m-input-field__label" for="textarea">Label</span>
      <textarea class="aic-m-input-field__textarea" rows="3" data-min-rows="3"></textarea>
    </label>
  </div>
</main>
<main style="margin: 32px">
  <button class="aic-a-button aic-a-button--primary aic-a-button--default">
    <span class="aic-a-button__label">Button</span>
  </button>
  <button class="aic-a-button aic-a-button--secondary aic-a-button--default">
    <span class="aic-a-button__label">Button</span>
  </button>
</main>