<main class="aiu-spacing--m32">
  <h2>Inputs</h2>
  <article class="aiu-spacing--m-v58">
    <section class="aic-m-input-field">
      <label class="aic-m-input-field--bordered aic-m-input-field__input-container">
        <span class="aic-m-input-field__label">THis is an Input</span>
        <input type="text"  class="aic-m-input-field__input" />
      </label>
    </section>
  </article>
  <article class="aiu-spacing--m-v58">
    <section class="aic-m-input-field aic-m-input-field--error">
      <label class="aic-m-input-field--bordered aic-m-input-field__input-container">
        <span class="aic-m-input-field__label">THis is an Input</span>
        <input type="text"  class="aic-m-input-field__input" />
      </label>
    </section>
  </article>
  <article class="aiu-spacing--m-v58">
    <div class="aic-m-input-field aic-m-input-field--textarea">
      <label class="aic-m-input-field__textarea-container aic-m-input-field--bordered">
        <span class="aic-m-input-field__label" for="textarea">Label</span>
        <textarea class="aic-m-input-field__textarea" rows="2" data-min-rows="3"></textarea>
      </label>
    </div>
  </article>

  <h2>Buttons</h2>
  <article class="aiu-spacing--m-v58">
    <button class="aic-a-button aic-a-button--primary aic-a-button--default">
      <span class="aic-a-button__label">Button</span>
    </button>
    <button class="aic-a-button aic-a-button--secondary aic-a-button--default">
      <span class="aic-a-button__label">Button</span>
    </button>
    
      <button class="aic-a-button aic-a-button--navigation aic-a-button--block">
        <div class="aic-a-button__border aic-a-button__border--top"></div>
        <div class="aic-a-button__border aic-a-button__border--middle"></div>
        <div class="aic-a-button__border aic-a-button__border--bottom"></div>
      </button>
    
  </article>

  <h2>Typography</h2>
  <article class="aiu-spacing--m-v58">
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
  </article>

  <article class="aiu-spacing--m-v58">
    <div class="aic-a-typography--title">Title</div>
    <div class="aic-a-typography--subtitle">Subtitle</div>
  </article>

  <article class="aiu-spacing--m-v58">
    <p>Lorem ipsum dolor amet poutine lo-fi intelligentsia cloud bread godard, la croix lyft vaporware occupy beard marfa literally chambray paleo. Pug subway tile street art hoodie shaman biodiesel taiyaki affogato coloring book. Edison bulb la croix disrupt, yr neutra cloud bread coloring book helvetica wayfarers VHS keytar man braid. Disrupt hell of lyft fingerstache, banh mi XOXO mustache locavore try-hard meggings cronut chillwave.</p>
    <p class="aiu-color-background--flatblack aiu-color-text--white">Lorem ipsum dolor amet poutine lo-fi intelligentsia cloud bread godard, la croix lyft vaporware occupy beard marfa literally chambray paleo. Pug subway tile street art hoodie shaman biodiesel taiyaki affogato coloring book. Edison bulb la croix disrupt, yr neutra cloud bread coloring book helvetica wayfarers VHS keytar man braid. Disrupt hell of lyft fingerstache, banh mi XOXO mustache locavore try-hard meggings cronut chillwave.</p>
    <p class="aic-a-typography--body2">Lorem ipsum dolor amet poutine lo-fi intelligentsia cloud bread godard, la croix lyft vaporware occupy beard marfa literally chambray paleo. Pug subway tile street art hoodie shaman biodiesel taiyaki affogato coloring book. Edison bulb la croix disrupt, yr neutra cloud bread coloring book helvetica wayfarers VHS keytar man braid. Disrupt hell of lyft fingerstache, banh mi XOXO mustache locavore try-hard meggings cronut chillwave.</p>
    <p class="aic-a-typography--accent">lo-fi intelligentsia cloud bread godard</p>
  </article>

  <h2>Links</h2>
  <article class="aiu-spacing--m-v58">
    <a href="#">Link</a>
    <p>Lorem ipsum dolor amet poutine lo-fi intelligentsia cloud bread godard, la croix lyft vaporware occupy beard marfa <a href="#">Link</a> literally chambray paleo. Pug subway tile street art hoodie shaman biodiesel taiyaki affogato coloring book. </p>
    <p class="aic-a-typography--body2">Lorem ipsum dolor amet poutine lo-fi intelligentsia cloud bread godard, la croix lyft vaporware occupy beard marfa <a href="#">Link</a> literally chambray paleo. Pug subway tile street art hoodie shaman biodiesel taiyaki affogato coloring book. </p>
    <a href="#" class="aic-o-navigation__link">Full Page Navigation Link</a>

  </article>

  <h2>Dividers</h2>
  <article class="aiu-spacing--m-v58">
    <hr />
    <hr class="aic-a-dividers--two" />
    <hr class="aic-a-dividers--three" />
  </article>

  <h2>Colors</h2>
  <article class="aiu-spacing--m-v58">
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--white aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--grey1 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--flatblack aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--black aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--blue1 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--blue2 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--blue3 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--red1 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
    <div class="aiu-spacing--p32 aiu-spacing--m16 aiu-color-background--green1 aiu-border aiu-border-size--2 aiu-color-border--flatblack"></div>
  </article>

  <h2>Alerts</h2>
  <article class="aiu-spacing--m-v58">
    <div class="aic-o-alerts aic-o-alerts__container aic-o-alerts--error">
      <div class="aic-o-alerts__icon">
        <i class="material-icons">
          error
          </i>
      </div>
      <div class="aic-o-alerts__content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      </div>
      <div class="aic-o-alerts__close">
        <button class="aic-a-button aic-a-button--alerts">
          <i class="material-icons">
            close
            </i>
        </button>
      </div>
    </div>
  </article>
</main>

