@mixin input {
  align-self: $ai-inpitmixin-as;
  background: $ai-inpitmixin-background;
  border: $ai-inpitmixin-border;
  color:  $ai-inpitmixin-color;
  font-size:  16px;
  font-weight: $ai-inpitmixin-fw;
  line-height:  24px;
  -ms-flex-item-align: $ai-inpitmixin-mfia;
  margin-bottom: $ai-inpitmixin-mb;
  text-decoration: $ai-inpitmixin-td;
  text-transform: $ai-inpitmixin-tt;
  width: 320px;
  @include appearance($ai-inpitmixin-appearance);
  @include border-radius($ai-inpitmixin-br);
  @include transition($ai-inpitmixin-transition);
  @include transition($ai-inpitmixin-transition1);
  @include transform($ai-inpitmixin-transform);
}

@mixin label-container-bordered($color, $type) {
  @if $type == 'hover' or $type == 'focus' {
    border-color: $color;
    @include box-shadow(inset 1px 1px 1px 1px $color);
  }
  @else {
    border: 1px solid $color;
    border-radius: map-get($map: $borderRadius, $key: 'one' );
    @include box-shadow(inset 1px 1px 1px 1px transparent);
  }
}