// 
// Grid 
// 
// Various Grid styles.
// 
// Styleguide Objects - Layout - Grid
// 

.ail-grid {
  display: grid;
 // Full Page
  &__full-page {
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  &__projects {

  }

  &__project {
    
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @supports (display: grid) {
      display: grid;
      // grid-auto-rows: minmax(120px, auto);
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-gap: $margin;
      justify-content: none;
    }
  }

  &__col {
    @for $i from 1 to $ai-totalCol {
      &--#{$i} {
        flex: $i;
        
        @supports (display: grid) {
          flex: none;
        }
      }

    }
  }
}
