.aic-o-input-helper {
  &__helper {
    font-size: 12px;
    height: 16px;
    width: 100%;
    margin-left: 15px;
    line-height: normal;
  }

  &--error {
    @extend .aiu-states-error;
    .aic-o-input-helper__helper {
      color: $error-color !important;
    }
  }
}
